body, html{
    margin:0;
    padding:0;
}

header{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: #051838;
    
}
#title2{
    background-color: #2d4671;
    width:100%;
    text-align:center;
    
}

#title3{
    background-color: #4d658d;
    width:100%;
    text-align:center;
}

main{
    height:100%;
    display:flex;
    background-color:#e2dac4;
    justify-content: flex-start;
    

}
aside{
    background:#7689a9;
    flex-basis:20%;
    height:100vw;
    padding:5px;
    
}
#leftaside {

    
}
#rightaside {
    
    
}
#return{
   height:100%;
    flex-basis:60%;
    text-align:center;
}
li{
    list-style: none;
    padding:1%;
}
header a{
    color:#e2dac4;
}
a:link{
    text-decoration: none;
    
}
a:visited{
    text-decoration: none;
}
form{
    padding:5%;
}