*{
    margin:0;
    padding:0;
}
body, html{
    height:100%;
}
header{
    display:flex;
    flex-direction:column;
    align-items:center
    
}
main{
    height:100%;
    display:flex;
    

}
aside{
    align-self:flex-start;
    background:#668cff;
    width:200px;
    height:100%;
    padding:5px;
    
}
#return{
    padding:20px;
}
li{
    list-style: none;
    padding:1%;
}
header {
    background:#668cff;
}
header h2{
    background:#66b3ff;
}
header h3{
    background:#66d9ff;
}