<!DOCTYPE html>
<html>
<head>
	<title>POstage Calculation Result</title>
</head>
<body>
    
	<h1>Postage Needed</h1>
	<p>Package type: <%= itemType %></p>
    <p>Weight: <%= weight %></p>
    <p>Total cost: $<%= result %></p>
    <h2 style="color:red;"><%= error %></h2>
</body>
</html>